# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv*/

# Logs and databases
*.log

# Environment variables
.env

# IDE specific files
.idea/

# Dependency directories
node_modules/
